<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/index.css" />

    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Комментарии</h1>

    {% block content %}{% endblock %}
</div>
<div class="container text-center">
    {% block footer %}
        &copy; Copyright 2019 by <a href="https://vk.com/zubyakd">Daria</a>.
    {% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>
