<div class="card card-inner" id="card{{ card.id }}">
    <div class="card-body">
        <div class="row">
            <input type="hidden" class="js-card-id" value="{{ card.id }}"/>
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                <p class="text-secondary text-center">{{ card.createdAt|date("F jS \\a\\t g:ia") }}</p>
            </div>
            <div class="col-md-10">
                <p>
                    <a class="float-left"
                       href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Somebody</strong></a>
                </p>
                <div class="clearfix"></div>
                <p>{{ card.body }}</p>
                <button type="button" class="js-button-reply float-right btn btn-outline-primary ml-2" data-toggle="modal" data-target="#myModal">
                    Reply
                </button>
            </div>
        </div>
        {% for comment in card.children %}
            {% include 'card.twig' with {'card': comment} %}
        {% endfor %}
    </div>
</div>

