{% extends "base.twig" %}

{% block title %}Index{% endblock %}


{% block content %}
    {% for comment in comments %}
        {% include 'card.twig' with {'card': comment} %}
    {% endfor %}
    {% include 'reply_form.twig' %}
{% endblock %}

{% block js %}
    <script src="/assets/js/ReplyForm.class.js"></script>
{% endblock %}

