<!-- The Modal -->
<div class="modal" id="myModal">
    <form id="js-save-comment-form">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Reply</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <textarea id="replyForm-text" class="form-control validate"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-primary ml-2">Add</button>
                </div>

            </div>
        </div>
    </form>
</div>
